<div class="container py-3">
  <div class="row py-3">
    <div class="col-md-3 offset-md-2">
      <h2>服装一覧</h2>
    </div>
  </div>
  
  <div class="row">
    <% @clothes.each do |clothe| %>
    <div class="col-md-1 mx-5">
      <%= link_to public_clothe_path(clothe.id) do %>
      <%= image_tag clothe.get_image(100,100), size: "70x250" %>
      <%= clothe.celsius %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>