<div class="container py-3">
  <div class="row py-3">
    <div class="col-md-7 offset-md-2 py-5">
      <h1>ようこそ！clothes forcastへ</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7 offset-md-2">
      <p>このサイトは気温に応じて適した服装を確認したり</p>
      <p>他のユーザーの意見を見ることができるサイトです。</p>
      <p>服装を確認するだけでなく自分の考えを投稿することもできるので</p>
      <p>ぜひ投稿してみましょう</p>
    </div>
  </div>
</div>