<div class="container py-3">
  <div class="row py-3">
    <h2>服装詳細</h2>
  </div>
  <!--ここから-->
  <div class="row justify-content-center py-3">
    <div class="col-md-2">
    <%= image_tag @clothe.get_image(100,100), size: "100x350" %>
    </div>
    <div class="col-md-5">
      <div class="py-3">
        <%= @clothe.celsius %><br>
        <%= @clothe.introduction %>
      </div>
  <!--ここまでpublic/clothe/showと同じ-->
      <%= link_to "編集する", edit_admin_clothe_path %>
    </div>
  </div>
</div>